/* ==========================
   GLOBAL
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#ffffff;
    color:#111;
}

/* ==========================
   HEADER
========================== */

header{
    height:82px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 22px;
    border-bottom:1px solid #ececec;
    background:#fff;
    position:sticky;
    top:0;
    z-index:100;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo h2{
    font-size:24px;
    font-weight:800;
    color:#111;
}

/* Logo */

.logo-icon{
    display:flex;
    flex-direction:column;
    gap:4px;
}

.logo-icon span{
    width:22px;
    height:6px;
    background:#63b317;
    border-radius:30px;
    transform:skew(-25deg);
}

.header-icons{
    display:flex;
    align-items:center;
    gap:30px;
}

.moon{
    font-size:30px;
    cursor:pointer;
}

.menu{
    display:flex;
    flex-direction:column;
    gap:6px;
    cursor:pointer;
}

.menu span{
    width:34px;
    height:4px;
    background:#111;
    border-radius:20px;
}

/* ==========================
   HERO
========================== */

.hero{
    max-width:900px;
    margin:auto;
    padding:90px 25px 70px;
    text-align:center;
}

.hero h1{
    display:flex;
    flex-direction:column;
    line-height:.95;
}

.hero h1 span{
    font-size:78px;
    font-weight:900;
}

.black{
    color:#111;
}

.green{
    color:#63b317;
}

.hero p{
    margin:45px auto;
    max-width:720px;
    font-size:30px;
    line-height:1.6;
    color:#555;
}

/* ==========================
   BUTTONS
========================== */

.buttons{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:24px;
}

.btn{
    width:320px;
    text-decoration:none;
    text-align:center;
    padding:22px 0;
    border-radius:18px;
    font-weight:800;
    font-size:26px;
    transition:.3s;
}

.green-btn{
    background:#63b317;
    color:#fff;
    box-shadow:0 10px 20px rgba(99,179,23,.25);
}

.green-btn:hover{
    transform:translateY(-2px);
}

.white-btn{
    background:#f8f8f8;
    color:#111;
    border:1px solid #ddd;
}

/* ==========================
   GREEN BAR
========================== */

.ticker{
    margin-top:80px;
    background:#63b317;
    color:#fff;
    height:60px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-weight:700;
    font-size:20px;
}

/* ==========================
   STATS
========================== */

.stats{
    padding:90px 20px;
    text-align:center;
}

.stat{
    margin-bottom:75px;
}

.stat h2{
    color:#63b317;
    font-size:64px;
    font-weight:900;
}

.stat p{
    font-size:24px;
    font-weight:800;
    color:#111;
}

/* ==========================
   MOBILE
========================== */

@media(max-width:768px){

.logo h2{
    font-size:20px;
}

.hero{
    padding:70px 22px 50px;
}

.hero h1 span{
    font-size:38px;
}

.hero p{
    font-size:18px;
    margin:35px auto;
}

.btn{
    width:275px;
    font-size:18px;
    padding:18px 0;
    border-radius:14px;
}

.ticker{
    font-size:14px;
    height:52px;
}

.stat{
    margin-bottom:55px;
}

.stat h2{
    font-size:48px;
}

.stat p{
    font-size:18px;
}

.moon{
    font-size:22px;
}

.menu span{
    width:28px;
    height:3px;
}

header{
    height:72px;
    padding:0 18px;
}

}
/* ==========================
   MOBILE MENU
========================== */

#menu-toggle{
    display:none;
}

.mobile-menu{
    position:fixed;
    top:82px;
    right:-280px;
    width:280px;
    height:100vh;
    background:#fff;
    box-shadow:-5px 0 25px rgba(0,0,0,.1);
    transition:.35s ease;
    z-index:999;
    display:flex;
    flex-direction:column;
    padding:40px 25px;
    gap:25px;
}

.mobile-menu a{
    text-decoration:none;
    color:#111;
    font-size:18px;
    font-weight:600;
}

#menu-toggle:checked ~ .mobile-menu{
    right:0;
}

.mobile-menu a:hover{
    color:#63b317;
}
/* ==========================
   FEATURES
========================== */

.features{
    padding:70px 20px 100px;
    display:flex;
    flex-direction:column;
    gap:25px;
}

.feature-box{
    background:#fff;
    border:1px solid #e8e8e8;
    border-radius:18px;
    padding:30px;
    box-shadow:0 5px 20px rgba(0,0,0,.04);
}

.feature-box h3{
    font-size:24px;
    font-weight:800;
    margin-bottom:12px;
}

.feature-box p{
    color:#666;
    line-height:1.7;
}
/*==========================
   SERVICES
==========================*/

.services{
    padding:80px 24px;
    background:#fff;
}

.section-title span{
    color:#63b317;
    font-size:14px;
    font-weight:700;
    letter-spacing:2px;
}

.section-title h2{
    margin-top:10px;
    font-size:52px;
    line-height:1;
    font-weight:900;
    color:#111;
}

.section-title p{
    margin-top:20px;
    color:#555;
    font-size:22px;
    margin-bottom:50px;
}

.service-card{
    position:relative;
    background:#fafafa;
    border:1px solid #ededed;
    padding:25px;
    margin-bottom:35px;
}

.service-image{
    width:100%;
    height:170px;
    background:#f2f2f2;
    border:1px dashed #ddd;
    margin-bottom:25px;
}

.service-number{
    position:absolute;
    top:22px;
    right:22px;
    font-size:20px;
    color:#555;
}

.service-card h3{
    font-size:24px;
    font-weight:800;
    margin-bottom:12px;
}

.service-card p{
    color:#555;
    line-height:1.7;
}

.tags{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin:25px 0;
}

.tags span{
    background:#f3f3f3;
    border:1px solid #ddd;
    padding:8px 12px;
    font-size:12px;
    font-weight:700;
}

.service-btn{
    color:#111;
    text-decoration:none;
    font-weight:800;
    border-bottom:3px solid #63b317;
    padding-bottom:4px;
}

@media(max-width:768px){

.section-title h2{
    font-size:42px;
}

.section-title p{
    font-size:18px;
}

.service-card{
    padding:24px;
}

.service-image{
    height:150px;
}

.service-card h3{
    font-size:20px;
}

}
/*=========================
    HOW IT WORKS
=========================*/

.how-it-works{
    background:#fafafa;
    padding:110px 26px;
    border-top:1px solid #ececec;
    border-bottom:1px solid #ececec;
}

.how-title{
    text-align:center;
    margin-bottom:90px;
}

.how-title span{
    color:#63b317;
    font-size:15px;
    font-weight:800;
    letter-spacing:2px;
}

.how-title h2{
    margin-top:16px;
    font-size:58px;
    line-height:1;
    font-weight:900;
    color:#111;
}

.steps{
    display:flex;
    flex-direction:column;
    gap:90px;
}

.step-number{
    color:#63b317;
    font-size:58px;
    font-weight:900;
    margin-bottom:25px;
}

.step h3{
    font-size:36px;
    font-weight:800;
    color:#111;
    margin-bottom:16px;
}

.step p{
    font-size:22px;
    line-height:1.7;
    color:#555;
    max-width:700px;
}

/* Mobile */

@media(max-width:768px){

.how-it-works{
    padding:90px 26px;
}

.how-title{
    margin-bottom:70px;
}

.how-title h2{
    font-size:38px;
}

.steps{
    gap:70px;
}

.step-number{
    font-size:46px;
}

.step h3{
    font-size:24px;
}

.step p{
    font-size:18px;
}

}
/*=========================
   BUILT FOR EFFICIENCY
=========================*/

.efficiency{
    padding:90px 24px;
    background:#fff;
}

.efficiency-header h2{
    font-size:58px;
    line-height:.95;
    font-weight:900;
    margin-bottom:30px;
}

.efficiency-header p{
    font-size:22px;
    line-height:1.7;
    color:#555;
    max-width:700px;
    margin-bottom:45px;
}

.efficiency-btn{
    display:inline-block;
    background:#63b317;
    color:#fff;
    text-decoration:none;
    font-weight:800;
    font-size:22px;
    padding:20px 42px;
    border-radius:16px;
    box-shadow:0 10px 24px rgba(99,179,23,.25);
    margin-bottom:70px;
}

.feature-list{
    border:1px solid #e8e8e8;
}

.feature-item{
    padding:40px;
    border-bottom:1px solid #e8e8e8;
}

.feature-item:last-child{
    border-bottom:none;
}

.feature-item h3{
    font-size:30px;
    font-weight:800;
    color:#111;
    margin-bottom:16px;
}

.feature-item p{
    font-size:20px;
    line-height:1.7;
    color:#555;
}

/* Mobile */

@media(max-width:768px){

.efficiency{
    padding:80px 24px;
}

.efficiency-header h2{
    font-size:38px;
}

.efficiency-header p{
    font-size:18px;
}

.efficiency-btn{
    width:210px;
    text-align:center;
    font-size:18px;
    padding:18px 0;
    border-radius:14px;
}

.feature-item{
    padding:28px;
}

.feature-item h3{
    font-size:20px;
}

.feature-item p{
    font-size:18px;
}

}
/*=========================
    TESTIMONIALS
=========================*/

.testimonials{
    background:#fafafa;
    padding:100px 24px;
    border-top:1px solid #ececec;
}

.testimonial-title{
    text-align:center;
    margin-bottom:60px;
}

.testimonial-title span{
    color:#63b317;
    font-size:14px;
    font-weight:800;
    letter-spacing:2px;
}

.testimonial-title h2{
    margin-top:16px;
    font-size:52px;
    font-weight:900;
    line-height:1;
    color:#111;
}

.testimonial-card{
    background:#fff;
    border:1px solid #e7e7e7;
    border-radius:12px;
    padding:30px;
    margin-bottom:28px;
}

.stars{
    color:#FFB400;
    font-size:28px;
    letter-spacing:3px;
    margin-bottom:24px;
}

.testimonial-card p{
    color:#444;
    font-size:20px;
    line-height:1.8;
    margin-bottom:30px;
}

.reviewer{
    display:flex;
    align-items:center;
    gap:14px;
}

.google-logo{
    width:42px;
    height:42px;
    border-radius:50%;
    background:#4285F4;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:24px;
    font-weight:900;
}

.reviewer h4{
    font-size:22px;
    font-weight:700;
    color:#111;
}

/* Mobile */

@media(max-width:768px){

.testimonials{
    padding:80px 20px;
}

.testimonial-title h2{
    font-size:36px;
}

.stars{
    font-size:22px;
}

.testimonial-card{
    padding:28px;
    border-radius:10px;
}

.testimonial-card p{
    font-size:18px;
}

.reviewer h4{
    font-size:18px;
}

.google-logo{
    width:34px;
    height:34px;
    font-size:18px;
}

}
/*==========================
        FAQ
===========================*/

.faq{
    padding:90px 24px;
    background:#fff;
}

.faq-header{
    text-align:center;
    margin-bottom:60px;
}

.faq-header span{
    color:#63b317;
    font-size:15px;
    font-weight:800;
    letter-spacing:2px;
}

.faq-header h2{
    margin-top:16px;
    font-size:52px;
    line-height:1;
    font-weight:900;
}

.faq-list details{
    border-top:1px solid #e7e7e7;
    padding:25px 0;
}

.faq-list details:last-child{
    border-bottom:1px solid #e7e7e7;
}

.faq-list summary{
    list-style:none;
    cursor:pointer;
    font-size:30px;
    font-weight:800;
    position:relative;
    padding-right:40px;
}

.faq-list summary::-webkit-details-marker{
    display:none;
}

.faq-list summary::after{
    content:"+";
    position:absolute;
    right:0;
    color:#63b317;
    font-size:34px;
    font-weight:900;
}

details[open] summary::after{
    content:"−";
}

.faq-list p{
    margin-top:18px;
    color:#555;
    line-height:1.7;
    font-size:20px;
}


/*==========================
       CTA
===========================*/

.cta{
    background:#63b317;
    padding:70px 24px;
}

.cta-box{

    max-width:650px;

    margin:auto;

    border:1px solid rgba(255,255,255,.25);

    border-radius:35px;

    padding:50px 30px;

    background:rgba(255,255,255,.08);

}

.cta-box span{

    color:white;

    font-size:15px;

    letter-spacing:4px;

    font-weight:700;

}

.cta-box h2{

    margin:25px 0;

    color:white;

    font-size:68px;

    line-height:.95;

    font-weight:900;

}

.cta-box p{

    color:white;

    font-size:22px;

    line-height:1.8;

    margin-bottom:45px;

}

.cta-box a{

    display:block;

    text-align:center;

    text-decoration:none;

    font-weight:800;

    border-radius:16px;

    margin-bottom:18px;

    padding:22px;

}

.cta-main{

    background:#111;

    color:white;

}

.cta-outline{

    border:3px solid white;

    color:white;

}

.cta-whatsapp{

    background:#7CC043;

    color:white;

}

.cta-telegram{

    border:2px solid #43A5FF;

    color:white;

}


/*==========================
      MOBILE
===========================*/

@media(max-width:768px){

.faq-header h2{

font-size:42px;

}

.faq-list summary{

font-size:22px;

}

.faq-list p{

font-size:17px;

}

.cta-box{

padding:40px 24px;

border-radius:28px;

}

.cta-box h2{

font-size:58px;

}

.cta-box p{

font-size:18px;

}

}
